@import '~antd/dist/antd.css';
#rating {
    margin: 2% 0;
}

.rating-table {
    max-width: 75vw;
    
}

#table-btn-group {
    display: flex;
    align-items: flex-end;
    color: #fa541c;
}

#table-btn-group>.ant-select {
    width: 20%;
    margin-bottom: 10px;
    font-family: 'Montserrat Regular';
    font-size: 14px;
}

.ant-table-highlighted{
    color: #fa541c;

}

#table-highlighted{
    color: #fa541c;

}

#table-btn-group>.ant-select:hover, #table-btn-group>.ant-select:focus {
    color: #fa541c;
}

#table-btn-group>.ant-select:hover>.ant-select-selector, #table-btn-group>.ant-select:focus>.ant-select-selector, #table-btn-group>.ant-select-focused>.ant-select-selector {
    border-color: #fa541c;
}


@media only screen and (max-device-width: 768px) {
    .rating-table {
        max-width: 100vw;
    }
}