@import '~antd/dist/antd.css';
#stream {
    margin: 2% 0;
}

#player {
    max-width: 100vw;
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px;
    box-shadow: 0px 0px 7px black;
}

#player * {
    max-width: 100%;
}

#player iframe {
    border-radius: 10px;
}

#twitch-btn:hover, #twitch-btn:focus {
    color: #6441A4;
    box-shadow: 0px 0px 15px #6441A4;
}

#youtube-btn:hover, #youtube-btn:focus {
    color: #FF0000;
    box-shadow: 0px 0px 15px #FF0000;
}

#quality-disclaimer {
    margin-top: 2%;
    margin-bottom: 0px;
    text-align: justify;
    max-width: 640px;
}

#quality-disclaimer * {
    margin-bottom: 0px;
}

#disclaimer-title {
    color: rgb(255, 50, 50);
    font-size: 16px;
}
